* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* universal selector, adds border-box to page and padding/marign to 0 .*/
body {
    background-color: #d9dcd6;
}
/* makes the background color of the body of the page, white. .*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* addresses properties for the main header .*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* makes the contents of h1 and header inline-block and 48px .*/
.header h1 .seo {
    color: #d9dcd6;
}
/* makes color for seo/h1/header d9dcd6 .*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* adjusts all the above properties for header and div .*/


.header div ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}
/*consolidated code, places content to the left, and describes orientation. */
a {
    color: #ffffff;
    text-decoration: none;
}
/* color of links and no text decor */
p {
    font-size: 16px;
}
/*font size of paragraph*/
.hero {
    height: 80px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}
/* reduced the height, a break from two sections .*/

.float-left {
    float: left;
    margin-right: 25px;
}
/* how they offset description*/
.float-right {
    float: right;
    margin-left: 25px;
}
/* how they offset description*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* describes the three main boxes*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* describes the main box to the right*/
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* consolidated lead/brand/cost, the three texts to the right*/

.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* consolidated the headers for lead/brand/cost */

.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* consolidated lead/brand/benefit cost img*/

.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*consolidated the text properties*/

.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}
/* consolidated the image heights*/

.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* consolidated the three h2 headers*/

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* footer properties*/
.footer h2 {
    font-size: 20px;
}
/* footer font size*/
.mainimage {
background-position: center;
max-width: 100%;

} 
/* class for the image to adjust properties.*/

.maindiv {
    display: flex;
}
/* class for the div container to make it flex.*/